body{
    background-color: #97BE11;
}
.container{
    background-color: #DFE9Ac;
    width: 95%;
    display: block;
    margin: auto;
    padding: 1%;
    border-radius: 10pt;
}
.bal{
    display: flexbox;
    flex-direction: column;
    float: left;
}
.jobb{
    display: flexbox;
    flex-direction: column;
    float: right;
}